{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">折线图</div>
            <div class="panel-body">
                <div id="m1" style="width:100%;height:500px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">柱状图</div>
                    <div class="panel-body">
                        <div id="m2" style="width: 600px;height:400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">饼图</div>
                    <div class="panel-body">
                        <div id="m3" style="width:600px;height:400px;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static  'js/echarts.js' %}">
    </script>
    <script type="text/javascript">
        $(function () {
            initline()
            initBar()
            initPie()
        })

        /**
         * 初始化柱状图
         */
        function initBar() {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('m2'));

            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '员工业绩汇总'
                },
                tooltip: {},
                legend: {
                    'data': [],
                    'orient': 'horizontal',
                    'left': 'left',
                },
                xAxis: {
                    'data': []
                },
                yAxis: {},
                series: []
            };
            $.ajax({
                url: "/chart/bar",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    // 将后台返回的数据，更新到option中
                    if (res.status) {
                        option.legend.data = res.data.legend_data;
                        option.xAxis.data = res.data.x_axis_data;
                        option.series = res.data.series;
                    }
                    // 使用指定的配置项和数据显示图表
                    myChart.setOption(option);
                }
            })
        }

        /**
         * 初始化饼图
         */
        function initPie() {
            var myChart = echarts.init(document.getElementById('m3'));
            var option = {
                title: {
                    text: '部门预算所占百分比',
                    subtext: '广西分公司',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'horizontal',
                    left: 'left',
                    bottom: 0

                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: '50%',
                        data: [],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            $.ajax({
                url: "/chart/pie",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    // 将后台返回的数据，更新到option中
                    if (res.status) {
                        option.series[0].data = res.data;
                    }
                    // 使用指定的配置项和数据显示图表
                    myChart.setOption(option);
                }
            })
        }

        /**
         * 初始化折线图
         */
        function initline() {
            var myChart = echarts.init(document.getElementById('m1'));
            var option = {
                title: {
                    text: '分公司业绩图',
                    left:"center"
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: [],
                    bottom: '0',

                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data:  []
                },
                yAxis: {
                    type: 'value'
                },
                series: []
            };

            $.ajax({
                url: "/chart/line",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    // 将后台返回的数据，更新到option中
                    if (res.status) {
                        option.legend.data = res.data.legend_data;
                        option.xAxis.data = res.data.x_axis_data;
                        option.series = res.data.series;
                    }
                    // 使用指定的配置项和数据显示图表
                    myChart.setOption(option);
                }
            })

        }
    </script>
{% endblock %}